In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tasli\Desktop\Folders\AI\pandas\sample2.csv", index_col=["Roll No."])

In [4]:
branch_group = df.groupby(by='Branch')
branch_group.groups

{'CS': [1, 5, 7, 10, 12, 13, 14, 27, 28, 29, 30], 'ECE': [2, 6, 9, 11, 15, 19, 23, 26], 'MECH': [3, 4, 17, 18, 20, 21, 22, 24, 25]}

In [5]:
branch_group = df.groupby(by=['Branch','Section'])
branch_group.groups

{('CS', 'A'): [1, 5, 10, 13, 14, 29, 30], ('CS', 'B'): [7, 27], ('CS', 'C'): [12, 28], ('ECE', 'A'): [2, 6, 9, 26], ('ECE', 'B'): [11, 15, 19, 23], ('MECH', 'A'): [17, 18, 21, 22, 25], ('MECH', 'B'): [3], ('MECH', 'C'): [4, 20, 24], (nan, 'C'): [8, 16]}

In [6]:
for group, dataframe in branch_group:
    print(group)
    print(dataframe)

('CS', 'A')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
1              A     CS     56.0       57.0   58.0      59.0  01-01-2001
5              A     CS     23.0       27.0   28.0      29.0  05-01-2001
10             A     CS     45.0       16.0   17.0      18.0  10-01-2001
13             A     CS     22.0       23.0   24.0      25.0  13-01-2001
14             A     CS     90.0        NaN    NaN      42.0  14-01-2001
29             A     CS     57.0       36.0   36.0      66.0  29-01-2001
30             A     CS     58.0       37.0   37.0      43.0  30-01-2001
('CS', 'B')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
7              B     CS     12.0       13.0   14.0      15.0  07-01-2001
27             B     CS     55.0       34.0   34.0      55.0  27-01-2001
('CS', 'C')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
12             C     CS     88.0        NaN   19.0      20.0  12-01-2001
28             C     CS     56.0       35.0   35.0       NaN  28-01-2001
('ECE', 'A')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
2              A    ECE     23.0       24.0   25.0      26.0  02-01-2001
6              A    ECE     90.0        NaN   29.0      30.0  06-01-2001
9              A    ECE      NaN       15.0   16.0      17.0  09-01-2001
26             A    ECE     54.0       33.0   33.0      54.0  26-01-2001
('ECE', 'B')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
11             B    ECE      NaN       17.0   18.0      19.0  11-01-2001
15             B    ECE      NaN       43.0   43.0      43.0  15-01-2001
19             B    ECE     47.0       47.0   47.0      47.0  19-01-2001
23             B    ECE     51.0       51.0   51.0      51.0  23-01-2001
('MECH', 'A')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
17             A   MECH     45.0       45.0   45.0      45.0  17-01-2001
18             A   MECH     46.0       46.0   46.0      46.0  18-01-2001
21             A   MECH     49.0       49.0   49.0      49.0  21-01-2001
22             A   MECH     50.0       50.0   50.0      50.0  22-01-2001
25             A   MECH     53.0        NaN    NaN      53.0  25-01-2001
('MECH', 'B')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
3              B   MECH     89.0       25.0   26.0      27.0  03-01-2001
('MECH', 'C')
         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
4              C   MECH     45.0       26.0   27.0      28.0  04-01-2001
20             C   MECH     48.0       48.0   48.0      48.0  20-01-2001
24             C   MECH     52.0       52.0   52.0      52.0  24-01-2001

# Merge Function

In [12]:
df1 = df.loc[0:5,["Physics"]]
df2 = df.loc[2:6,["Chemistry"]]
pd.merge(df1,df2, on="Roll No.") # inner join

          Physics  Chemistry
Roll No.
2            23.0       24.0
3            89.0       25.0
4            45.0       26.0
5            23.0       27.0

In [13]:
pd.merge(df1,df2, on="Roll No.", how="left") # right, outer

          Physics  Chemistry
Roll No.
1            56.0        NaN
2            23.0       24.0
3            89.0       25.0
4            45.0       26.0
5            23.0       27.0