In [2]:
import pandas as pd

In [3]:

df = pd.read_csv(r"C:\Users\tasli\Desktop\Folders\AI\pandas\sample2.csv", index_col=["Roll No."])
print(df.loc[5])
df.loc[[5,2,3]]

Section               A
Branch               CS
Physics            23.0
Chemistry          27.0
Maths              28.0
Computer           29.0
DOB          05-01-2001
Name: 5, dtype: object

         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
5              A     CS     23.0       27.0   28.0      29.0  05-01-2001
2              A    ECE     23.0       24.0   25.0      26.0  02-01-2001
3              B   MECH     89.0       25.0   26.0      27.0  03-01-2001

It follows the pattern [row, column]

In [4]:
df.loc[5,"Physics"]

23.0

In [5]:
df.loc[5:15,"Physics"]

Roll No.
5     23.0
6     90.0
7     12.0
8     78.0
9      NaN
10    45.0
11     NaN
12    88.0
13    22.0
14    90.0
15     NaN
Name: Physics, dtype: float64

In [6]:
df.loc[df["Physics"]>80]

         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
3              B   MECH     89.0       25.0   26.0      27.0  03-01-2001
6              A    ECE     90.0        NaN   29.0      30.0  06-01-2001
12             C     CS     88.0        NaN   19.0      20.0  12-01-2001
14             A     CS     90.0        NaN    NaN      42.0  14-01-2001

print only maths mark of those who have got above 80 in physics

In [8]:
df.loc[df["Physics"]>80,["Maths"]]

          Maths
Roll No.
3          26.0
6          29.0
12         19.0
14          NaN

# iLOC
used to select row and columns specefically
also follows the pattern [row,column] or [[rows],[columns]]

In [9]:
df.iloc[1]

Section               A
Branch              ECE
Physics            23.0
Chemistry          24.0
Maths              25.0
Computer           26.0
DOB          02-01-2001
Name: 2, dtype: object

In [10]:
df.iloc[:,1]

Roll No.
1       CS
2      ECE
3     MECH
4     MECH
5       CS
6      ECE
7       CS
8      NaN
9      ECE
10      CS
11     ECE
12      CS
13      CS
14      CS
15     ECE
16     NaN
17    MECH
18    MECH
19     ECE
20    MECH
21    MECH
22    MECH
23     ECE
24    MECH
25    MECH
26     ECE
27      CS
28      CS
29      CS
30      CS
Name: Branch, dtype: object